@model OralHistory.Models.User

@{
    ViewBag.Title = "Home Page";
}



<div class="container">

    <form class="row g-3" asp-controller="Home" asp-action="Index" method="post" new { enctype="multipart/form-data" }>

        <div class="col-md-6">
            <div class="formContent">
                <h5>Donor Information</h5>
            </div>
        </div>

        <div class="col-md-6">
            <div class="formContent">
                <h5>Interview Information</h5>
            </div>
        </div>

        <div class="col-md-6">
            <label asp-for="donor" class="required">Donor Name </label>
            @Html.EditorFor(model => model.DonorName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DonorName, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            <label for="narrator" class="required">Narrator/Interviewee Name  </label>
            @Html.EditorFor(model => model.NarratorName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NarratorName, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            <label for="email" class="required">Donor Email </label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            <label for="interviewer" class="required">Interviewer Name  </label>
            @Html.EditorFor(model => model.InterviewerName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InterviewerName, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6 ">
            <label for="phone" class="secondary">Donor Phone: </label>
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            <label for="title" class="required">Title of Oral History </label>
            @Html.EditorFor(model => model.TitleOH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TitleOH, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
        </div>

        <div class="col-md-6">
            <label for="interviewDate" class="secondary">Date of Interview: </label>
            <input type="date" class="form-control" id="Date">
        </div>

        <div class="col-md-6">
        </div>

        <div class="col-md-6">
            <label for="location" class="secondary">Place of Interview: </label>
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>

        <div class="col-12">
            &nbsp;
            <h5>Digital Files</h5>
        </div>

        <div class="col-md-6">
            <label for="audiofile" class="required">Audio File (.mp3/.mp4/.wav/.wave)</label>
            <input type="file" name="audioFile" id="audioFile" class="form-control" aria-label="file">
        </div>

        <div class="col-md-6">
            <label for="file" class="secondary">Additional Files (Transcripts, Images, etc.)</label>
            <input type="file" name="multipleFiles" id="multipleFiles" class="form-control" aria-label="file" multiple>
            <br />
        </div>

        <div class="col-12 deedOG">
            <h4>What is a Deed of Gift?</h4>
            &nbsp;
            <p>
                It is a legal agreement that establishes the transfer of ownership and legal rights
                of the donated materials between the donor and the special collections archive (McGreal Center).
            </p>
            <p>
                Click here to download
                <a href="~/Documents/Deed-of-Gift-McGreal.pdf" target="_blank">Deed of Gift</a>
            </p>

            <label for="audiofile" class="required">Please fill out the Deed of Gift and attach it here  (.pdf)  </label>
            <input type="file" name="deedFile" id="deedFile" class="form-control" aria-label="file" accept=".pdf">
            <br />
        </div>

        <div class="col-md-6">
            <br />
            <p>
                Need Assistance with this form?
                <a href="https://www.dom.edu/mission-and-ministry/mcgreal/contact-us" target="_blank">Contact Us</a>
            </p>
        </div>

        <div class="col-12">
            <div class="center">
                <button type="submit" id="submitButton" class="btn btn-primary btn-lg">Submit</button>
            </div>
            <br />
        </div>

    </form>

</div>

