
@{
    ViewBag.Title = "Thanks";
}

<div class="thanks">
    <h3>Thank You For Your Support</h3>
    <br />
    <strong>Donor Name</strong> : @ViewData["DonorName"]
    <br />
    <strong>Narrator Name</strong> : @ViewData["NarratorName"]
    <br />
    <strong>Interviewer Name</strong> : @ViewData["InterviewerName"]
    <br />
    <strong>Donor Email</strong> : @ViewData["Email"]
    <br />
    <strong>Title of Oral History</strong> : @ViewData["TitleOH"]
    <br />
    <strong>Audio File</strong> : @ViewData["audioFile"]
    <br />
</div>
