
@{
    ViewBag.Title = "Thanks";
}

<h2>Thank You</h2>

<strong>Donor Name</strong> : @ViewData["DonorName"]
<br />
<strong>Narrator Name</strong> : @ViewData["NarratorName"]
<br />
<strong>Email</strong> : @ViewData["Email"]
<br />
<strong>Title of Oral History</strong> : @ViewData["TitleOH"]
<br />
<strong>File</strong> : @ViewData["audioFile"]
<br />

